<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Proč?</h2>
                    <h3 class="section-subheading text-muted">Jsme MTB tým podporovaný Avastem a Cyklo Šauer.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tým</h4>
                    <p class="text-muted">Jako člen týmu, jste jeho součástí a je vždy dobé být součástí něčeho většího, no ne? ;-). Navíc máš slevu v Cyklo Šauer. Možná bude týmové oblečení a další výhody.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cyklo Šauer</h4>
                    <p class="text-muted">
                        Cyklo Šauer, to je bikeshop v Praze - Nebušicích a Jablonci. Pracuješ-li v Avastu máš slevu 10%. Jako člen týmu máš dalších 5%. 
                        Potřebuješ servis? Zavolej Tomášovi, vyzvedne kolo v Trianonu a po servisu přiveze zpět.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Bikestředa</h4>
                    <p class="text-muted">Každou sředu v 16.15 od Trianonu na Budějovické. Pokaždé jinam, pokaždé skvělé. Na bikestředě je výtaný každý správný biker, který má chuť si pořádně užít terén a přitom se nebojí umazat.</p>
                </div>				
            </div>
        </div>
    </section>